flask
flask-restx
flask-cors
flask-bcrypt
flask-SQLAlchemy
flask-migrate
requests
spotipy
python-dotenv
PyJWT
psycopg2-binary
google-cloud-datastore==2.15.1
google-auth==2.17.3
requests
youtube_search
yt_dlp
eyed3